.banner {
  background:
    linear-gradient(
      32deg,
      rgba(237, 105, 148, 0.5) 0%,
      rgba(79, 58, 101, 0.54) 100%
    ),
    url("/banner.png"),
    lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
