@tailwind components;
@layer components {
  .btn {
    @apply h-12 rounded-full px-7 text-brandTextNeutral;
  }
  .btn.primary {
    @apply bg-brand hover:bg-brand-900 active:bg-brand-500;
  }
  .btn.secondary {
    @apply bg-secondary hover:bg-secondary-900 active:bg-secondary-500;
  }
  .btn.light {
    @apply border border-solid border-secondary bg-brandBgColor text-secondary hover:border-secondary-900 hover:text-secondary-900 active:border-secondary-900 active:text-secondary-900;
  }
  .btn.iconBtn {
    @apply flex w-12 items-center justify-center px-0;
  }
  .btn.withIcon {
    @apply flex items-center justify-center px-6;
  }

  .btn.withIcon svg {
    margin-right: 12px;
  }
  .btn.withIcon.iconRight svg {
    margin-left: 12px;
    margin-right: 0;
  }
  .btn.xsm {
    @apply h-8;
  }
  .btn.iconBtn.xsm {
    @apply w-8;
  }
  .btn.sm {
    @apply h-10;
  }
  .btn.iconBtn.sm {
    @apply w-10;
  }
}
